@import "tailwindcss";

:root {
  --font-nunito: "Nunito Sans", sans-serif;
  --font-great-vibes: "Great Vibes", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #0a0a0a;
  font-family: var(--font-nunito);
  -webkit-font-smoothing: antialiased;
}
